*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}


.split{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:50px;
  padding-left:80px;
  padding-right:80px;
}

#logo{
  width:240px;
  height:38px;
}

#try-it{
  width:136px;
  height:40px;
  font-size:16px;
  border-radius:20px;
  border: 1px solid #FF52C1;
  background-color: #fff;
  color: #FF52C1;
}

#try-it:hover{
    border: 1px solid #FF8ED7;
    color:#FF8ED7;
    cursor: pointer;
}

.hero-container{
  position: relative;
  top:150px;
  font-family: poppins;
}

.subject{
  text-align:center;
  font-size: 48px;
  font-weight:500;
}

.para{
  font-family: 'Open sans';
  text-align:center;
  width:580px;
  margin: auto;
  position: relative;
  top:40px;
  font-size: 20px;
}
