*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  overflow: hidden auto;
}

.split{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:50px;
  padding-left:80px;
  padding-right:80px;
}

#logo{
  width:240px;
  height:38px;
}

#try-it{
  width:136px;
  height:40px;
  font-size:16px;
  border-radius:20px;
  border: 1px solid #FF52C1;
  background-color: #fff;
  color: #FF52C1;
}

#try-it:hover{
    border: 1px solid #FF8ED7;
    color:#FF8ED7;
    cursor: pointer;
}

.hero-container{
  position: relative;
  top:150px;
}

.subject{
  text-align:center;
  font-size: 33px;
  font-weight:500;
  font-family: 'Poppins', sans-serif;
  color: #00252E;
}

.para{
  font-family: 'Open sans';
  text-align:center;
  width:580px;
  margin: auto;
  position: relative;
  top:40px;
  font-size: 20px;
  color: #00252E;
}

#get-started{
  width:400px;
  height:80px;
  font-size: 20px;
  border-radius: 50px;
  border: hidden;
  background-color: #FF52C1;
  color: #fff;
  box-shadow: 0px 5px 10px rgb(179, 179, 179);
}

.get-started{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top:90px;
}

#get-started:hover{
  background-color: #FF8ED7;
  cursor: pointer;
}

#image1{
  width:auto;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:150px;
}

.com-messages{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:50px;
  padding-left:200px;
  padding-right:200px;
  position: relative;
  top:180px;
  font-family: 'Open Sans';
  color: #00252E;
}

.commu{
  display: flex;
  flex-direction: column;
  text-align: center;
}
#commu{
  width:56px;
  height:56px;
}

#k{
  font-size: 96px;
}

#kmu{
  font-size: 24px;
}

.mess{
  display: flex;
  flex-direction: column;
  text-align: center;
}

#icon-mess{
  width:56px;
  height:56px;
}

#m{
  font-size: 96px;
}

#sent{
  font-size: 24px;
}


.grow-backgroundtop{
  background-image: url('./images/bg-section-top-desktop-1.svg');
  background-repeat: no-repeat;
  position: relative;
  top:300px;
  height:170px;
}

.grow-backgroundmid{
  background-color: #F6FBFF;
  height:500px;
  position: relative;
  top:280px;
}

.grow-backgroundbottom{
  background-image: url('./images/bg-section-bottom-desktop-1.svg');
  background-repeat: no-repeat;
  position: relative;
  top:278px;
  height:170px;
}

.grow-main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  position: relative;
  top:-320px;
  padding-left: 90px;
  padding-right: 90px;
}

#grow-image{
  width:517.22px;
  height:423.11px;
}

.grow-text{
  font-family: 'Open sans';
  color:#00252E;
}

#bold{
  font-size: 40px;
  font-family: 'Poppins';
  position: relative;
  top:80px;
}

#bold-para{
  width:500px;
  font-size:16px;
  position: relative;
  top:100px;
}

.flow-main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
}

#flow-image{
  width:560px;
  height:auto;
}

.flow-text{
  font-family: 'Open sans';
  color:#00252E;
  padding-left: 90px;
  position: relative;
  top:120px;
}

#flow-bold{
  font-size: 40px;
  font-family: 'Poppins';
}

#flow-para{
  font-size:16px;
  position: relative;
  top:20px;
}

.user-bg{
  position:relative;
  top:150px;
}

.user-backgroundtop{
  background-image: url('./images/bg-section-top-desktop-2.svg');
  background-repeat: no-repeat;
  position: relative;
  top:20px;
  height:170px;
}

.user-backgroundmid{
  background-color: #F6FBFF;
  height:500px;
  position: relative;
  
}

.user-backgroundbottom{
  background-image: url('./images/bg-section-bottom-desktop-2.svg');
  background-repeat: no-repeat;
  position: relative;
  height:170px;
}

.user-main{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-left: 90px;
  padding-right: 90px;
  position: relative;
  top:-480px;
}

#user-image{
  width:560px;
  height:auto;
}

.user-text{
  font-family: 'Open sans';
  color:#00252E;
  position: relative;
  top:120px;
}

#user-para{
  width:500px;
  height: auto;
  position:relative;
  top:30px;
  font-size: 16px;
}

#user-bold{
  font-size: 40px;
  font-family: 'Poppins';
}

.bottom-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top:-180px;
    font-family: 'Open sans';
}

#bottom-quest{
  font-family: 'Poppins';
  font-size: 40px;
  color:#00252E;
}

#getting-start{
  width:400px;
  height:80px;
  font-size: 20px;
  border-radius: 50px;
  border: 0px hidden;
  background-color: #FF52C1;
  color: #fff;
  font-size: 20px;
  position:relative;
  top:30px;
  box-shadow: 0px 5px 10px rgb(179, 179, 179);
}

#getting-start:hover{
  border: 1px hidden #FF8ED7;
  background-color: #FF8ED7;
  cursor: pointer;
}

.footer-svg{
  width:100vw;
  background-image: url('./images/Footer-background.svg');
  background-size: cover;
  height:710px;
  background-repeat: no-repeat;
  position: relative;
  
}

#footer-container{
  position: relative;
  top:200px;
  font-family: 'Open Sans';
  z-index: 1;
  color:#fff;
  position: relative;
  top:500px;
  display:flex;
  flex-direction: row;
  padding-left:80px;
  padding-right:80px;
  justify-content: space-between;
  
}

.left{
  position: relative;
  top:50px;
}
#footer-para{
  width:400px;
  height:auto;
  position: relative;
  top:30px;
  font-size: 14px;
  z-index: 1;

}

.phone-main{
  position: relative;
  top:60px;
  display:flex;
  flex-direction: row-reverse;
  width:222px;
  justify-content: space-between;
}

.mail-main{
  position: relative;
  top:80px;
  display:flex;
  flex-direction: row-reverse;
  width:208px;
  justify-content: space-between;
}

#logo-white{
  filter:brightness(0) invert(1);
}


.icon-main{
  position: relative;
  top:110px;
  display:flex;
  flex-direction: row-reverse;
  width:144px;
  justify-content: space-between;
}



#facebook{
  width:32px;
  height:32px;
}

#facebook:hover{
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(150deg) brightness(119%) contrast(119%);
  cursor: pointer;
}

#instagram{
  width:32px;
  height:32px;
}

#instagram:hover{
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(150deg) brightness(119%) contrast(119%);
  cursor: pointer;
}

#twitter{
  width:32px;
  height:32px;
}

#twitter:hover{
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(150deg) brightness(119%) contrast(119%);
  cursor: pointer;
}

.footer-right{
  position: relative;
  top:50px;
}

#right-para{
  position: relative;
  top:30px;
  width:340px;
  height:auto;
  font-size: 14px;

}

.input-sub{
  width:520px;
  position: relative;
  top:60px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;

}

#input{
  width:320px;
  height:48px;
  border-radius: 10px;
  border:hidden pink;
  padding: 10px;
}

#input:hover{
  border: 1px solid red;
}

#submit{
  width:160px;
  height:48px;
  border-radius: 10px;
  border:hidden;
  color:#fff;
  background-color: #FF52C1;
}

#submit:hover{
  border: 1px hidden #FF8ED7;
  background-color: #FF8ED7;
  cursor: pointer;

}


@media only screen and (max-width: 375px) {

  .split{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top:30px;
      padding-left:30px;
      padding-right:30px;
    }

    #logo{
      width:96px;
      height:16px;
    }

    #try-it{
      background-color: #fff;
      width:80px;
      height:24px;
      border:1px solid #FF52C1;
      color:#FF52C1;
      border-radius: 20px;
      font-size: 9.6px;
    }

    .subject{
      text-align:center;
      font-size: 20px;
      font-weight: 500;
      font-family: 'Poppins', sans-serif;
      color: #00252E;
    }

    .para{
      font-family: 'Open sans';
      text-align:center;
      width:290px;
      margin: auto;
      position: relative;
      top:40px;
      font-size: 14px;
      color: #00252E;
    }

    #get-started{
      width:200px;
      height:40px;
      font-size: 14px;
      border-radius: 50px;
      border: hidden;
      background-color: #FF52C1;
      color: #fff;
      box-shadow: 0px 5px 10px rgb(179, 179, 179);
    }

    .get-started{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      top:90px;
    }

    #image1{
      width:296px;
      height:auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top:150px;
    }

    .com-messages{
      display:flex;
      flex-direction: column;
      padding-top:50px;
      padding-left:50px;
      padding-right:50px;
      position: relative;
      top:200px;
      font-family: 'Open Sans';
      color: #00252E;
    }

    .commu{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    #commu{
      width:3.5.56px;
      height:auto;
      position:relative;
      left:60px;
    }
    
    #k{
      font-size: 60.95px;
    }
    
    #kmu{
      font-size: 15.24px;
    }

    .mess{
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .mess{
        position: relative;
        top:60px;
    }
    
    #icon-mess{
      width:3.5.56px;
      height:auto;
      position:relative;
      left:60px;
    }
    
    #m{
      font-size: 60.95px;
    }
    
    #sent{
      font-size: 13.38px;
    }

    .grow-backgroundtop{
      background-image: url('/images/bg-section-top-mobile-1.svg');
      background-repeat: no-repeat;
      position: relative;
      top:300px;
      height:170px;
    }
    
    .grow-backgroundmid{
      background-color: #192c3b;
      height:500px;
      position: relative;
      top:235px;
    }
    
    .grow-backgroundbottom{
      background-image: url('/images/bg-section-bottom-mobile-1.svg');
      background-repeat: no-repeat;
      position: relative;
      top:228px;
      height:170px;
    }

    #grow-image{
      width:258.61px;
      height: 211.56px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:relative;
    }

    #flow-image{
      width:265.5px;
      height:189px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:relative;
    }

    #user-image{
      width:265.5px;
      height:189px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      position:relative;
    }


}
